.navbar{
    position: absolute;
    top: 25px;
    right: 16.5%;
    word-spacing: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 15px;
}

.icon{
    position: relative;
    top: -18px;
    right: -125px;
}

.btnin{
    position: relative;
    top: -45px;
    right: -175px;
    background-color: rgb(71, 132, 245);
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    color: white;
}

.icong{
    position: absolute;
    top: 30%;
    left: 60%;
    transform:translate(-50%,-50%);
}

.search{
    position: relative;
    left: -15%;
    width: 450px;
    height: 42px;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 30px;
} 

.searchbox{
    position: relative;
    top: 0px;
    left: 17px;
    height: 42px;
    width: 390px;
    border: none;
    padding: 0px 10px;
    
}